
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-left-chevron:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-wrench:before { content: '\e808'; } /* '' */
.icon-ccw:before { content: '\e809'; } /* '' */
.icon-arrows-cw:before { content: '\e80a'; } /* '' */
.icon-cw:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-cancel-circled2:before { content: '\e812'; } /* '' */
.icon-plus-circled:before { content: '\e813'; } /* '' */
.icon-plus:before { content: '\e814'; } /* '' */
.icon-minus:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-lock:before { content: '\e817'; } /* '' */
.icon-lock-open:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e819'; } /* '' */
.icon-th-large:before { content: '\e81a'; } /* '' */
.icon-th-list:before { content: '\e81b'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */