
.dashy-wrapper {
	margin-right: 20px;
}
.search-console {
	padding: 20px;
	background-color: white;
	overflow: hidden;
}
a {
	cursor: pointer;
}
.btn {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  color: white;
  text-decoration: none;
}
.btn-primary {
	background-color: #4CAF50;
}
.btn-danger {
	background-color: #f44336;
}
.btn-default {
	background-color: #008CBA;
}
.star {
	color: orange;
}
.red {
	color: red;
}


.table-container {
    background-color: #fff;
    padding: 20px;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr {
  cursor: pointer;  
  border-bottom: 1px solid #ddd;
    font-size: 1rem;
}
tr:hover{background-color:#f5f5f5}
.pagination {
    display: inline-block;
    padding: 0;
    margin: 10px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.pagination a:first-child {
}
.pagination a:last-child {
    border-right: 1px solid #ddd;
}
.pagination a.active {
    background-color: #0078e7;
    color: white;
    border: 1px solid #0078e7;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.paging select {
    margin-top: 11px;
    height: 34px;
    border-radius: 0px;
    border-color: #ddd;
}



.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
}
.icon-field {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 0!important;
  margin: 0!important;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}


.filter-bar {
  display: flex;
  padding: 1em 0 1em 1em;
  font-family: sans-serif;
  border: 1px solid #ddd;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.filter-bar > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 3;
}
.filter-bar li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}
.filter-bar a:hover {
  cursor: pointer;
}
.filter-bar > .bar-field {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
.filter-bar input {
  flex: 1;
}
.filter-bar button {
  background: white;
  border: 0;
  border-radius: 1em;
  color: orangered;
  padding: 0 1em;
  margin-left: .3em;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .4s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  
  /* Probably need media queries here */
  width: 600px;
  max-width: 100%;
  
  min-height: 200px;
  max-height: 50%;

  margin: 0px auto;
  padding: 20px 30px;
  min-height: 35px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .2s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-default-button {
}
.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.modal-content {
  overflow: auto;
}
.modal-footer {
  padding: 20px 20px 0px 20px;
  text-align: right;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}


.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown.active .dropdown-content {
  display: block;
}
.dropdown.active .item a {
  display: block;
  margin-bottom: 0;
}
.dropdown.active .item a:hover {
  background-color: #ddd;
}
.filter-button {
  background-color: #1e90ff;
  color: #fff;
  margin-right: 10px;
}
.filter-button:hover {
  color: #fff;
}



.datedropdown a {
	cursor: pointer;
	padding: 4px;
}
.dropdown-panel {
	display: flex;
	max-width: 650px;
	max-height: 300px;
	border: 1px solid #ddd;
}
.presets-container {
	flex-grow: 2;
	border-right: 1px solid #ddd;
	position: relative;
  min-width: 140px;
}
.presets-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.presets-container li {
    cursor: pointer;
    margin: 0;
}
.presets-container li:hover {
    background-color: #ddd;
}
.calendar-container {
	display: flex;
	flex-grow: 8;
	background-color: #fff;
}
.calendar {
	flex-grow: 5;
}
.toolbar {
	display: flex;
	padding: 8px;
}
.toolbar > div {
	flex-grow: 1;
}
.toolbar > div:nth-of-type(1) {
    text-align: left;
}
.toolbar > div:nth-of-type(2) {
    text-align: center;
}
.toolbar > div:nth-of-type(3) {
	text-align: right;
}
.calendar-grids {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 5px;
}
.calendar-grids > * {
  align-items: center;
  display: flex;
  justify-content: center;
}
.calendar-grids > *::before{
  content: "";
  display: inline-block;
  height: 0;
  width: 1px;
}
.calendar-grids > *.highlight{
  background-color: #def;
}
.calendar-grids > *.highlight.range {
  background-color: #357ebd;
}
.calendar-grids > *.highlight.range a {
  background-color: #357ebd;
  border-radius: 4px;
  color: #fff;
}
.calendar-buttons {
	position: absolute;
	bottom: 0;
	padding: 8px;
}
.datedropdown {
  position: relative;
}
.datedropdown input[type=text][disabled] {
    background-color: #fff;
    cursor: pointer;
    color: #000;
}
.datedropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  top: 40px;
  font-size: 14px;
}
.datedropdown.active .datedropdown-content {
  display: block;
}
.disabled {
  color: #ddd;
}


.row {
	margin-bottom: 10px;
}
.description {
	width: 210px;
	float: left;
	padding: 20px 10px 20px 0;
}
.fields {
	display: inline-block;
	padding: 20px 10px 20px 0;
}
.hidden {
	display: none !important;
}
.fields > span {
	color: #666;
	margin-top: 5px;
}
.dashicons.spin {
   animation: dashicons-spin 1s infinite;
   animation-timing-function: linear;
}
@keyframes dashicons-spin {
0% {
      transform: rotate( 0deg );
}
100% {
      transform: rotate( 360deg );
}
}

