.widget-box {
  background-color: #fff;
  border: 1px solid #ccc;
  height: 100%;
}

.widget-header {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: move;
}

.widget-home .widget-header {
  cursor: auto;
}

.widget-chart {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.widget-home {
  padding: 5px;
}