body {
  background-color: #f1f1f1;
}

.ui.action.input:not([class*="left action"])>.button:not(:first-child), .ui.action.input:not([class*="left action"])>.buttons:not(:first-child)>.button, .ui.action.input:not([class*="left action"])>.dropdown:not(:first-child) {
    height: auto;
}

.ui.button {
    height: auto;
}

.menu {
  padding-top: 0px;
}

.ui.menu .item {
	position: static;
}

.dashicons.spin {
   animation: dashicons-spin 1s infinite;
   animation-timing-function: linear;
}

@keyframes dashicons-spin {
   0% {
      transform: rotate( 0deg );
   }
   100% {
      transform: rotate( 360deg );
   }
}
